<% layout("/layouts/boilerplate") %>
<style>
    label,input{
        margin: 0 !important;
        padding: 0 !important;
    }
</style>

<!-- <p><= listing.id %></p> -->
<div class="col-8 offset-3 mb-3 review-page">
    <br>
    <h4> Leave a Review </h4>
    <!--  -->
    <form method="post" action="/listings/<%= listing.id %>/reviews" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label> 
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>

        <div class="mb-3 mt-3">
            <label for="Comment" class="form-label">Comments</label>
            <textarea name="review[Comment]" id="comment" cols="30" rows="5"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
</div>
</div>