body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 4.5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 6rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect  */
.card-img-overlay{
    opacity:0 ;
}
.card-img-overlay:hover{
    opacity:0.1;
    background-color: white;
}

/* New Add Listing */
.add-btn{
    background-color:  #fe424d !important;
    border: none !important;
}

/* Edit Listing */
.edit-btn{
    background-color:  #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 50vh;
}
.btns{
    display: flex;
}

/* reviews page */
.review-page{
    margin-top: 25px;
    border: 2px solid black;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:13px;
}

/* Map */
#map { 
    height: 400px;
    width: 88vh; 
}

/* .marker {
    height: 10px;
    width:20px;
    cursor: pointer;
    
    } */

/* Drop down */
.dropdown-item{
cursor: pointer;
}

/* filter listings on icons */
#IconicCities{
    border: none;
    background-color: white;
}

#countryName{
        font-size: 22px;
}

.icon-button{
    border: none;
    background-color: white;
}